<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregues</title>
    <link rel="stylesheet" href="/frontend/css/global/style.css">
    <link rel="stylesheet" href="/frontend/css/global/reset.css">
    <link rel="stylesheet" href="/frontend/css/global/variaveis.css">
    <link rel="stylesheet" href="/frontend/css/entrega/entrega.css">
    <link rel="shortcut icon" href="/frontend/favicon/favicon.ico" type="image/x-icon">
</head>
<body class="body-grid-header-main-aside">
    <header>
        <nav class="nav-container-h">
            <a class="botao-voltar" href="/frontend/index.html">VOLTAR</a>
            <ul class="nav-container-h__lista">
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self"  href="/frontend/templates/cadastre/cadastre.html" aria-label="Página de Cadastro">CADASTRE</a>
                </li>
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self" href="/frontend/templates/estoque/estoque.html" aria-label="Página de Doação">ESTOQUE</a>
                </li>
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self" href="/frontend/templates/doacao/doacao.html" aria-label="Página de Doação">DOAÇÃO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Cestas entregues</h1>
        <div class="tables-container">
            <table>
                <thead>
                    <tr>
                        <th>Id Código Cesta De Cadastro</th>
                        <th>Nome Do Doador</th>
                        <th>Data De Saída</th>
                        <th>Quantidade Saída Cestas</th>
                    </tr>
                </thead>
                <tbody id="tabela-entrega">
                    <!-- As linhas serão adicionadas dinamicamente aqui -->
                    
                </tbody>
            </table>
        </div>
    </main>
    <aside>
        <nav class="nav-container-v">
            <h2 class="nav-container-v__titulo">Opções</h2>
            <ul class="nav-container-v__lista">
                <li class="nav-container-v__lista__item">Voltou ao estoque</li>
            </ul>
        </nav>
    </aside>
    <script type="module" src="/frontend/js/entrega/entrega.js"></script>
</body>
</html>