<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregues</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/variaveis.css">
    <link rel="stylesheet" href="/style/entrega.css">
    <link rel="shortcut icon" href="/style/favicon/favicon.ico" type="image/x-icon">
</head>
<body class="body-grid-header-main-aside">
    <header>
        <nav class="nav-container-h">
            <a class="botao-voltar" href="/index.html">VOLTAR</a>
            <ul class="nav-container-h__lista">
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self"  href="/templates/cadastre.html" aria-label="Página de Cadastro">CADASTRE</a>
                </li>
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self" href="/templates/estoque.html" aria-label="Página de Doação">ESTOQUE</a>
                </li>
                <li class="nav-container-h__lista__item">
                    <a class="nav-container-h__lista__item__ancora" target="_self" href="/templates/doacao.html" aria-label="Página de Doação">DOAÇÃO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Cestas entregues</h1>
        <div class="tables-container">
            <table>
                <thead>
                    <tr>
                        <th>Código Cesta</th>
                        <th>Retirou</th>
                        <th>Data Retirada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>SIM</td>
                        <td>01/09/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <aside>
        <nav class="nav-container-v">
            <h2 class="nav-container-v__titulo">Opções</h2>
            <ul class="nav-container-v__lista">
                <li class="nav-container-v__lista__item">Voltou ao estoque</li>
            </ul>
        </nav>
    </aside>
</body>
</html>